// Kolory
$white:white;
$beige: #B89B7D;
$black:black;
$gray:#8C8C8C;
$white-beige: #F5F2ED;
$beige-lite: #E0D8C3;

// Rozmiary
$header-height: 60px;
$footer-height: 80px;

// Responsywność
$breakpoint-mobile: 768px;

$font-family: 'Alan Sans', sans-serif;
